<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
        function openModal() {
            document.getElementById("loginModal").classList.remove("hidden");
            document.getElementById("content").classList.add("dimmed");
        }
        function closeModal() {
            document.getElementById("loginModal").classList.add("hidden");
            document.getElementById("content").classList.remove("dimmed");
        }
        function handleSubmit(event) {
            event.preventDefault();
            alert("Login submitted!");
            return false;

        }
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdownMenu");
            dropdown.classList.toggle("hidden");
        }
        function startup() {
            setTimeout(() => {
                window.scrollTo(0, 0);
                document.getElementById("head").classList.remove("opacity-0", "translate-y-10");
            }, 500);
            setTimeout(() => {
                document.getElementById("section").classList.remove("opacity-0", "translate-y-10");
            }, 1000);
        }
    </script>
    </script>
    <style>
        .dimmed {
            filter: brightness(0.3);
            pointer-events: none;
        }
    </style>
</head>

<body onload="startup()" class=" bg-[url('{% static 'backg4.jpg'%}')] bg-cover bg-center bg-black bg-fixed">
    <div id="content">
        <header id="head"
            class="text-gray-400  body-font opacity-0 translate-y-10 transition-all duration-1000 ease-out">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a href="/indexafter/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                    <img src="{% static 'MyEnginelogo.jpg' %}" alt="Logo" class="w-15 h-15 p-2 rounded-full">
                    <span class="ml-3 text-xl">My Engine</span>
                </a>
                <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                    <a href="/homeafter/" class="mr-5 hover:text-white">Home</a>
                    <a href="/allgamesafter/" class="mr-5 hover:text-white">All Games</a>
                    <a href="/genreafter/" class="mr-5 hover:text-white">Genres</a>
                    <a href="/cantfind/" class="mr-5 hover:text-white">Can't find the game you want?</a>

                </nav>
                <div class="relative inline-block text-left ml-10">
                    <button onclick="toggleDropdown()" class="focus:outline-none">
                        <img src="{% static 'profileimg.png' %}" alt="Profile"
                            class="w-10 h-10 rounded-full border border-gray-500">
                    </button>

                    <div id="dropdownMenu"
                        class="hidden absolute right-0 mt-2 w-48 bg-gray-700 text-white rounded-lg shadow-lg">
                        <a href="/profile/" class="block px-4 py-2 hover: rounded-lg">Profile</a>
                        <a href="/logout/" class="block px-4 py-2 hover: rounded-lg">Logout</a>
                    </div>
                </div>
            </div>
        </header>
        <section id="section"
            class="text-gray-400 body-font opacity-0 translate-y-10 transition-all duration-1000 ease-out">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Welcome To MyEngine</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon
                        brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't
                        heard of them man bun deep jianbing selfies heirloom.</p>
                </div>
                <div class="flex flex-wrap -m-4">
                    {% for game in games %}
                    <div class="lg:w-1/3 sm:w-1/2 p-4">
                        <a href=" {% url 'game_deets' game.title %}">
                            <div class="flex relative ">

                                <img alt="{{ game.title }}" class="absolute inset-0 w-full h-full object-cover object-center"
                                    src="{{ game.image.url }}">
                                <div
                                    class="px-8 py-10 relative z-10 w-full border-4 border-gray-800  opacity-0 hover:opacity-100">
                                    <h1 class="title-font text-lg font-medium text-white mb-3">{{ game.title }}</h1>
                                    <p class="text-white leading-relaxed overflow-hidden text-ellipsis whitespace-nowrap">{{ game.summary }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>