<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Welcome to MyEngine</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
        function openModal() {
            document.getElementById("loginModal").classList.remove("hidden");
            setTimeout(() => {
                document.getElementById("loginModal").classList.remove("translate-y-5", "opacity-0")
                document.getElementById("content").classList.add("dimmed");
            }, 10);
        }
        function closeModal() {
            document.getElementById("loginModal").classList.add("translate-y-5", "opacity-0")
            setTimeout(() => {
                document.getElementById("loginModal").classList.add("hidden")
            }, 200);
            document.getElementById("content").classList.remove("dimmed");
        }
        function handleSubmit(event) {
            event.preventDefault();
            alert("Login submitted!");
            return false;
        }
        function startup() {
            setTimeout(() => {
                window.scrollTo(0, 0);
                document.getElementById("head").classList.remove("opacity-0", "translate-y-10");
            }, 500);
            setTimeout(() => {
                document.getElementById("section").classList.remove("opacity-0", "translate-y-10");
            }, 1000);
        }
    </script>
    <style>
        .dimmed {
            filter: brightness(0.3);
            pointer-events: none;
        }
    </style>
</head>

<body onload="startup()" class="bg-black bg-[url('{% static 'backg4.jpg'%}')] bg-cover bg-center bg-fixed">
    <div id="content">
        <header id="head"
            class="text-gray-400 body-font opacity-0 translate-y-10 transition-all duration-1000 ease-out">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                    <img src="{% static 'MyEnginelogo.jpg'%}" alt="Logo" class="w-15 h-15 p-2 rounded-full">
                    <span class="ml-3 text-xl">My Engine</span>
                </a>
                <button
                    class="ml-299 cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
                    onclick="openModal()">Log In
                </button>
            </div>
        </header>
        <section id="section"
        class="text-gray-300 body-font opacity-0 translate-y-10 transition-all ease-out duration-1000">
        {% if error %}
        <p class="text-red-500 text-center">{{ error }}</p>
        {% endif %}
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h2 class="text-xs text-blue-400 tracking-widest font-medium title-font mb-1">WELCOME TO</h2>
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">My Engine</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
                </div>
                <div class="flex justify-center">
                    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">All Games</h2>
                        <p class="leading-relaxed text-base mb-4">Visit this page to explore any game that we have on our
                            page.
                        </p>
                        <a href="/allgamesafter/"
                            class="text-blue-400 inline-flex items-center hover:text-2xl hover:text-blue-500">All Games
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Genres</h2>
                        <p class="leading-relaxed text-base mb-4">Here you will find all games we have filtered into genres like 
                            Action, Adventure, etc. for you convinience.
                        </p>
                        <a href="/genreafter/"
                            class="text-blue-400 inline-flex items-center hover:text-2xl hover:text-blue-500">Genres
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Can't find a game you want?</h2>
                        <p class="leading-relaxed text-base mb-4">Visit this webpage to see the steps you need to take 
                            to request for a game to be added to our website.
                        </p>
                        <a href="/cantfind/"
                            class="text-blue-400 inline-flex items-center hover:text-2xl hover:text-blue-500">Can't find
                            the game you want?
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <a href="/homeafter/" class="mx-auto">
                    <button class="flex mx-auto mt-16 transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
          border-blue-600
          border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
          active:border-b-[2px] active:brightness-90 active:translate-y-[2px] cursor-pointer">Home</button>
            </div>
            </a>
        </section>
    </div>
    <div id="loginModal"
        class="hidden opacity-0 fixed inset-0 flex items-center justify-center text-white duration-500 translate-y-5 transition-all ease-out">
        <div class="p-6 rounded-xl shadow-lg w-96 text-center relative z-60 border border-grey-500">
            <button onclick="closeModal()" class="absolute top-2 right-2 text-white hover:text-red-500">
                &times;
            </button>
            <h2 class="text-xl font-bold">Log In</h2>
            <form class="mt-4" method="post" action="/login/">
                {% csrf_token %}
                <input type="hidden" name="next" value="/indexafter/">
                <input type="email" name="email" placeholder="email"
                    class="w-full p-2 border rounded mb-2 placeholder-white">
                <input type="password" name="password" placeholder="Password"
                    class="w-full p-2 border rounded mb-4 placeholder-white">
                <button type="submit" class="bg-gray-600 text-white px-4 py-2 rounded w-full">Submit</button><br>
                <p class="mt-5">New to My Engine? <a href="/signup/" class="text-blue-400">Sign up</a></p>
            </form>
        </div>
    </div>
</body>

</html>